{% extends 'shop/base.html' %}


{% block content %}
<h2>Оформление заказа</h2>
<ul>
    <li>На сайте выберите интересующий товар и добавьте его в Корзину.</li>
    <p> </p>
    <li>При оформлении заказа оставьте свою контактную информацию для связи и отправки товара.</li>
    <p> </p>
    <li>Выберите удобный для Вас способ доставки. Со всеми вариантами Вы можете ознакомиться в разделе Доставка
        товара.
    </li>
    <p> </p>
    <li>В зависимости от выбранного способа доставки, выберите Оплату товара.</li>
    <p> </p>
    <li>В поле «комментарии» Вы можете оставить подробную информацию по заказу и комплектации.</li>
    <p> </p>
    <li>В поле «комментарии» Вы можете оставить подробную информацию по заказу и комплектации.</li>
    <p> </p>
    <li>При выборе доставки ТК Деловые Линии и ПЭК отправка осуществляется только после поступления оплаты.</li>
    <p> </p>
    <li>После отправки заказа, на Вашу электронную почту высылается информация (код или номер накладной) для
        отслеживания груза.
    </li>
</ul>

<h2>По телефону</h2>

<ul>
<li>Заказ можно оформить по телефону (812) 643-29-41 (С-Петербург)</li>
    <p> </p>
<li>Оставьте на сайте запрос обратного звонка и мы перезвоним Вам.</li>
</ul>
{% endblock %}