{% extends 'shop/base.html' %}
{% load static %}


{% block content %}
<table width="100%">
    <caption>
        <h1>Модница Текс</h1>
        <p>Мы, команда друзей и единомышленников, начали заниматься брендом Модница в 2002 году.</p>
        <p>Сначала проект был небольшим, но со временем рынок узнал нас как надежных поставщиков тканей высокого
            качества.</p>
        <p>Нам нравится наше дело. Наш девиз — создавать современный и удобный сервис оптовой продажи тканей из
            Китая.</p>
        <p>Мы хотим, чтобы Вам было комфортно и удобно работать с нами.</p>
        <p>Мы максимально автоматизировали все сервисы для того, чтобы предложить Вам наиболее выгодные условия
            сотрудничества.</p>
        <p>Вы можете купить габардин, со склада в Санкт-Петербурге,
            либо заказать габардин, который находится в пути, по более низкой цене</p>
    </caption>
</table>
<hr>
<table width="100%">
    <caption><h3>Выберете категорию:</h3></caption>
    <tr>
        <td width="25%"></td>
        <td>
            <a href="{% url 'warehouse' %}">
                <div class="figure_index">
                    <figure><img src="{% static 'shop/images/sklad.jpg' %}" width="320" height="240"
                                 title="Габардин на складе" alt="Габардин на складе">
                        <figcaption>Габардин на складе</figcaption>
                    </figure>
                </div>
            </a>
        </td>
        <td>
            <a href="{% url 'road' %}">
                <div class="figure_index">
                    <figure><img src="{% static 'shop/images/v_puti.jpg' %}" width="320"
                                                      height="240"
                                                      title="Габардин в пути" alt="Габардин в пути">
                        <figcaption>Габардин в пути</figcaption>
                    </figure>
                </div>
            </a>
        </td>
        <td width="25%"></td>
    </tr>
</table>
{% endblock %}